* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: #0a0908;
}

h1 {
    font-family: 'Bungee Shade', cursive;
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    color: #b0203f;
}

h2 {
    font-family: 'Secular One', sans-serif;
    text-align: center;
    font-size: 2.2rem;
    margin-top: .5rem;
    color: #d5d5d5;
}

.buttons {
    margin: 5% auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    border-radius: 10px;
    width: 155px;
    height: 150px;
    margin: 10px;
    background-color: white;
}

#S {
    background-image: url(images/tom1.png);
}

#D {
    background-image: url(images/tom2.png);
}

#F {
    background-image: url(images/tom3.png);
}

#G {
    background-image: url(images/tom4.png);
}

#H {
    background-image: url(images/snare.png);
    background-repeat: no-repeat;
}

#J {
    background-image: url(images/crash.png);
}

#K {
    background-image: url(images/kick.png);
}

.letters {
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Secular One', sans-serif;
    color: #d5d5d5;
}