*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    background-color: #293241;
}
h1{
    font-family: 'Kanit', sans-serif;
    font-size: 3.5rem;
    margin-top: 1.5rem;
    color: #98c1d9;
    font-weight: 600;
}

.chat {
    position: fixed;
    width: 50vw; 
    height: 60vh;
    left: 50%; 
    top: 120px;
    transform: translateX(-50%);
    border: 10px solid #11151d;
    border-radius: 20px;
    overflow-y: scroll;
    background-color:#98c1d9;
}

form {
    position: fixed;
    bottom: 80px; 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

input {
    height: 50px;
    border-radius: 20px;
    width: 40vw;
    margin-right: 5px;
    font-size: 1.6rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    border: none;
}

button {
    height: 50px;
    border-radius: 15px;
    width: 8vw;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
}

#container-message div{
    border-radius: 15px;
    width: 90%;
    margin: 15px auto;
    font-size: 1.5rem;
    background-color: #e0fbfc;
    padding: 5px;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(28, 28, 28); 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(53, 53, 53); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
