* {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: #f0f0fe;
	overflow-x: hidden;
}

.home-page {
	min-height: 100vh;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: relative;
}

header {
	padding: 0 20px;
	height: 50px;
	display: flex;
	justify-content: space-between;
}

#logo {
	margin-top: -.8rem;
	margin-left: 2rem;
	width: 130px;
}

ul {
	list-style: none;
	height: 100%;
	display: flex;
}

ul li:hover {
	transform: scale(1.1);
	transition: 0.3s;
}

.desktop-menu {
	transform: translateY(1rem);
}

.desktop-menu li {
	list-style: none;
	display: inline-block;
	padding: 15px 15px;
	position: relative;
}

.desktop-menu li a {
	color: #693b94;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
}

.desktop-menu li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: black;
	display: block;
	margin: auto;
	transition: 0.5s;
	/* makes a line at the bottom of each menu form the nav bar */
}

.desktop-menu li:hover::after {
	width: 100%;
}

.text-box {
	width: 90%;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.text-box h1 {
	font-size: 62px;
}

.text-box p {
	margin: 10px 0 40px;
	font-size: 18px;
	color: white;
}

#hamburger-menu {
	margin-top: 30px;
	margin-right: 10px;
	display: none;
	cursor: pointer;
}

#hamburger-menu div {
	width: 35px;
	height: 3px;
	background-color: #693b94;
	margin: 6px 0;
	transition: 0.4s;
}

.open .line1 {
	-webkit-transform: rotate(-45deg) translate(-6px, 6px);
	transform: rotate(-45deg) translate(-6px, 6px);
}

.open .line2 {
	opacity: 0;
}

.open .line3 {
	-webkit-transform: rotate(45deg) translate(-6px, -8px);
	transform: rotate(45deg) translate(-6px, -8px);
}

.open .responsive-menu {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.responsive-menu {
	display: none;
	position: absolute;
	background: #693b94;
	height: 100vh;
	width: 200px;
	top: 0;
	right: 0px;
	/* to hide the menu */
	text-align: left;
	z-index: 1;
	transition: 1s;
	padding-top: 25px;
}

.responsive-menu li {
	padding-bottom: 25px;
}

.responsive-menu a {
	color: white;
	font-weight: 600;
	text-decoration: none;
}

@media only screen and (max-width: 700px) {
	header nav {
		display: none;
	}

	#hamburger-menu {
		display: block;
	}

	.text-box h1 {
		font-size: 20px;
	}

	#intro {
		margin-bottom: 20px;
	}
}

#my-projects {
	width: 80%;
	margin: auto;
	text-align: center;
	padding-top: 80px;
}

h1 {
	font-size: 36px;
	font-weight: 600;
	margin-top: -50px;
}

#intro {
	color: rgb(0, 0, 0);
	font-size: 18px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

p {
	color: rgb(0, 0, 0);
	font-size: 16px;
	font-weight: 300;
	line-height: 22px;
	padding: 10px;
}

.row {
	margin-top: 5%;
	display: flex;
	justify-content: space-between;
	margin-left: -60px;
}

.group-col {
	flex-basis: 31%;
	background: #d8c5ec;
	border-radius: 10px;
	margin-bottom: 5%;
	box-sizing: border-box;
	transition: 0.5s;
	margin-left: 50px;
	margin-top: -30px;
	min-width: 20%;
}

#my-projects img {
	width: 45%;
	height: auto;
	border-radius: 7px;
}

h3 {
	text-align: center;
	font-weight: 600;
	margin: 10px 0;
}

.group-col:hover {
	box-shadow: 0 0 20px 0 #693b94;
}

.home-container{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-inline: auto;
	position: absolute;
	top: 50%; left:0; right:0;
	transform: translateY(-50%);
}

.home-social {
	display: flex;
	justify-content: center;
}

.home-social a {
	padding: 1rem;
}

.home-social-icon {
	font-size: 2rem;
	color: black;
}

.home-social-icon:hover {
	transform: scale(1.1);
}

.home-img {
	text-align: center;
}

.home-blob {
	width: 25vw;
	fill: #805AA3;
}

.home-blob-img {
	width: 40rem;
}

.home-data {
	text-align: center;
}

.home-title {
	font-weight: 800;
	font-size : clamp(2.2rem, 5vw, 3rem);
	margin-top: 50px;
	color: #693b94;
	padding-bottom: 15px;
}

.home-subtitle {
	font-weight: 600;
	font-size : clamp(1.2rem, 3vw, 2rem);
	padding: 10px;
}

.home-description {
	font-weight: 300;
	font-size : clamp(1rem, 1.5vw, 1.2rem);
}

a{
	text-decoration: none;
	color: black;
}

@media (max-width: 1000px) {
	.home-container{
		display: block;
	}
	.home-description {
		width: 350px;
		margin-inline: auto;
	}
	.home-blob {
		width: auto;
		height: 40vh;
	}
}

@media (max-width: 800px) {
	.home-data p {
		padding: 7.5px;
	}
}


@media (max-width: 700px) {
	.row {
		flex-direction: column;
	}

	.group-col {
		margin-bottom: 50px;
	}
}